@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  /* src: url(assets/fonts/inter.ttf); */
  src: url(assets/fonts/Kanit-Regular.ttf);
  /* src: url(assets/fonts/RockSalt-Regular.ttf); */
  /* src: url(assets/fonts/Schoolbell-Regular.ttf); */
  /* src: url(assets/fonts/Orbitron-VariableFont_wght.ttf); */
}

* {
  font-family: 'Inter';
}


